<!-- Title group  -->
<div class="title-group">
  <h1 class="mat-h1">Agregar Profesor</h1>
  <mat-divider fxFlex="1 0"></mat-divider>
</div>

<!-- Form -->
<div class="inner-wrapper">
  <form [formGroup]="teacherForm" (ngSubmit)="submitStudentForm()" #resetTeacherForm="ngForm" novalidate>
    <!-- Left block -->
    <mat-card>
      <div class="controlers-wrapper">
        <!-- Name -->
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Nombre del estudiante" formControlName="teacher_name">
          <mat-error *ngIf="handleError('teacher_name', 'required')">
            llenar campo<strong>.</strong>
          </mat-error>
        </mat-form-field>
         <!-- ap -->
         <mat-form-field class="example-full-width">
          <input matInput placeholder="Apellido paterno" formControlName="teacher_app">
          <mat-error *ngIf="handleError('teacher_app', 'required')">
            llenar campo<strong>.</strong>
          </mat-error>
        </mat-form-field>

        <!-- am -->
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Apellido materno" formControlName="teacher_apm">
          <mat-error *ngIf="handleError('teacher_apm', 'required')">
            llenar campo<strong>.</strong>
          </mat-error>
        </mat-form-field>

      </div>
    </mat-card>

    <!-- Right block -->
    <mat-card>
      <div class="controlers-wrapper">

         <!-- am -->
         <mat-form-field class="example-full-width">
          <input matInput placeholder="dni" formControlName="teacher_dni">
          <mat-error *ngIf="handleError('teacher_dni', 'required')">
            llenar campo<strong>.</strong>
          </mat-error>
        </mat-form-field>

      </div>
    </mat-card>

    <!-- Submit & Reset -->
    <mat-card>
      <div class="full-wrapper button-wrapper">
        <div class="button-wrapper">
          <button mat-flat-button color="warn">Submit</button>
        </div>
      </div>
    </mat-card>
  </form>
</div>

